* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1270px;

  margin: 0 auto;
}
.nav-nav {
  background-color: #1b1b1b;
  height: 60px;
}
.vibe {
  position: sticky;
  top: 0px;
}
.title {
  margin: 20px 37px 0px 200px;

  display: flex;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
}
.title:hover {
  transition: all 0s;
}
.wrapper {
  display: flex;
}
header {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.tatle {
  color: #fff;

  font-family: "IBM Plex Mono";
  font-weight: 900;
  font-size: 47px;
}
.links {
  margin: 20px 37px 0px 30px;
  color: #fff;
  list-style-type: none;
  display: flex;
  gap: 37px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
}
.title-img {
  display: flex;
  justify-content: end;
  margin: 0px 10px 0px 160px;
}
.img {
  display: flex;
  justify-content: end;
  margin: 20px 0px 0px 30px;
}
.imgt {
  display: flex;
  justify-content: end;
  margin: 23px 0px 0px 30px;
}
.nane {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 16px;
}
.btn {
  width: 307px;
  height: 63px;
  opacity: 1;
  gap: 10px;
  background-color: #62ba1b;
  padding-top: 21px;
  padding-right: 64px;
  padding-bottom: 21px;
  padding-left: 64px;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 0px 8px 30px 0px #3f8e0080;
}
.btn:hover {
  background-image: linear-gradient(
    to right top,
    rgba(5, 251, 38, 0.704),
    rgba(1, 194, 247, 0.715)
  );
}
.disp {
  margin: 200px 0px 0px 180px;
}
.rasm {
  margin: 150px 0px 0px 130px;
  width: 400px;
  height: 400px;
  border-radius: 1000px;
}
.vabe {
  display: flex;
}
.btn-1 {
  padding: 20px 40px;
  height: 60px;
  background-color: black;
  border-radius: 6px;
}
.teams {
  text-decoration: none;
  color: #fff;
}
.btn-1:hover {
  transition: all 1s linear;
  font-size: 24px;
  background-image: linear-gradient(
    to right top,
    rgba(5, 251, 30, 0.61),
    rgba(179, 5, 253, 0.593)
  );
}
.btn-2:hover {
  transition: all 1s linear;
  font-size: 24px;
  background-image: linear-gradient(
    to right top,
    rgba(5, 251, 30, 0.61),
    rgba(179, 5, 253, 0.593)
  );
}
.btn-3:hover {
  transition: all 1s linear;
  font-size: 24px;
  background-image: linear-gradient(to right top, rgba(132, 241, 253, 0.525));
}
.btn-4:hover {
  transition: all 1s linear;

  background-image: linear-gradient(to right top, rgba(132, 241, 253, 0.525));
}
.para {
  color: #fff;

  font-family: "IBM Plex Mono";
  font-weight: 900;
  font-size: 20px;
}
.btn-2 {
  padding: 20px 40px;
  height: 60px;
  background-color: black;
  border-radius: 6px;
  margin: 0px 0px 0px 70px;
}
.tatlw {
  color: black;

  font-family: "IBM Plex Mono";
  font-weight: 900;
  font-size: 47px;
}
.orta {
  text-align: center;
}
.yon {
  margin: 150px 0px 0px 0px;
  display: flex;
}
.btn-3 {
  width: 72px;
  height: 24px;
  top: 27px;
  opacity: 1;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 40px;
  border: none;
  background-color: #fff6e9;
}
.coloe {
  color: #ffa217;
}
.btn-4 {
  background-color: #ffa217;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 7px;
}
.rand {
  margin: 0px 0px 0px 120px;
}
.vbnt {
  margin: 0px 0px 0px 120px;
}
.btn-5 {
  background-color: #000aff;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 7px;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 7px;
}
.btn-6 {
  background-color: #d0e6ff;
  color: #000aff;
  border: none;
  padding: 10px 50px;
  border-radius: 7px;
}
.colop {
  color: #000aff;
}
.btn-8 {
  width: 72px;
  height: 24px;
  top: 27px;
  opacity: 1;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 40px;
  border: none;
}
.colot {
  color: #2ab090;
}
.btn-9 {
  background-color: #2ab090;
  color: #e0fff8;
  border: none;
  padding: 10px 50px;
  border-radius: 7px;
}
.bibe {
  text-align: center;
}
.paragra {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-size: 16px;
}
.tatlwy {
  color: #fff;

  font-family: "IBM Plex Mono";
  font-weight: 900;
  font-size: 47px;
}
.qore {
  width: 100%;
  height: 117vh;
  background-color: black;
}
.lege {
  display: flex;
  align-items: end;
  font-size: 80px;
  color: #fff;
}
.fil {
  width: 570px;
  height: 360px;
  top: 206px;
  left: 190px;

  opacity: 1;
}
.rasmi {
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px 0px 0px 20px;
}
.ix {
  margin: 30px 0px 0px 20px;
  color: #fff;
  font-family: "IBM Plex Mono";
}
.paka-maladoy {
  display: flex;
}
.das {
  display: flex;
}
.fili {
  margin: 0px 0px 0px 100px;
  width: 570px;
  height: 360px;
  top: 206px;
  left: 190px;

  opacity: 1;
}
.paragraph {
  color: black;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-size: 16px;
}
.tatl {
  color: black;

  font-family: "IBM Plex Mono";
  font-weight: 900;
  font-size: 47px;
}
.btn-10 {
  width: 139px;
  height: 38px;
  top: 456px;
  background-color: #3f8e00;
  color: #fff;
  opacity: 1;
  gap: 10px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  border-radius: 4px;
  border-width: 1px;
}
.babw {
  display: flex;
  justify-content: center;
}
.mara {
  margin: 100px 0px 0px 50px;
}
.maraz {
  margin: 100px 0px 0px 50px;
}
.sardor {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.tyle {
  width: 350px;
  height: 40px;
  opacity: 1;
  gap: 12px;

  padding-right: 12px;
  padding-left: 12px;
  border-radius: 4px;
  border-width: 1px;
}
.tyle:hover {
  transition: all 2s linear;
  background-color: gold;
}
.oq {
  color: #fff;
}
.hare {
  text-align: center;
}
.tylet {
  width: 350px;
  height: 40px;

  border-radius: 6px;
  padding: 30px 0px 100px 10px;
}

.tylet:hover {
  background-image: linear-gradient(
    to right top,
    rgb(5, 255, 159),
    rgba(7, 248, 132, 0.562),
    rgba(5, 167, 255, 0.484)
  );
}
.btn-11 {
  width: 139px;
  height: 38px;
  top: 456px;
  background-color: #3f8e00;
  color: #fff;
  opacity: 1;
  gap: 10px;
  padding: 0px 145px 0px 110px;
  border-radius: 7px;
}
.fil:hover {
  transition: all 1s linear;
  background-color: rgba(3, 220, 253, 0.685);
}
.btn-11:hover {
  background-image: linear-gradient(
    to right top,
    rgba(251, 202, 4, 0.596),
    rgb(5, 255, 159),
    rgba(10, 233, 249, 0.499),
    rgba(12, 12, 12, 0.481)
  );
}
.fili:hover {
  background-image: linear-gradient(
    to right top,
    rgb(5, 255, 159),
    rgba(10, 233, 249, 0.499),
    rgba(12, 12, 12, 0.481),
    rgba(4, 71, 255, 0.468)
  );
}
.rand {
  border: none;
  border-radius: 10px;
  background-color: rgb(239, 233, 233);

  color: #fff;
  margin: 7px;
  animation-name: sardor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
@keyframes sardor {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translatex(20px);
  }
  100% {
    transform: translate(0);
  }
}
